h1 {
  color: chartreuse;
  font-size: 50px;
  font-style: italic;
  text-decoration: dotted underline overline;
  text-align: center;
  text-transform: uppercase;
  text-decoration-color: black;
}
p {
  color: aqua;
  font-size: 50px;
  font-style: italic;
  text-decoration: dotted;
  text-align: center;
}
