div {
  width: 100px;
  height: 100px;
  background-color: grey;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(5turn);
  }
  to {
    transform: rotate(0);
  }
}
