body {
  margin: 0;
  font-family: sans-serif;
}
.nav {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  gap: 30px;
  position: sticky;
  top: 0;
}
.nav a {
  text-decoration: none;
  color: black;
}
