.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px 600px 200px;
  gap: 10px;
}
header,
aside,
main,
footer {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header,
.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}
