body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
/* head */
#container1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 10px;
}
ul {
  list-style-type: none;
  display: flex;
}
li {
  margin-right: 20px;
}
#header {
  display: flex;
  flex-direction: row;
  /* for x-axis */
  justify-content: start;
  /* for y-axis */
  align-items: center;
  width: 1000px;
  height: 50px;
}
#header h1 {
  font-size: 40px;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 700px;
  gap: 20px;
}
#navbar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
/* body */
#container2 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 50px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
#img1 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
#paragraph1 p {
  width: 1000px;
}

#container3 {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
#img2 {
  display: flex;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
#paragraph2 p {
  width: 1000px;
  display: flex;
}
/* footer */
#container4 {
  border-top: 3px solid black;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
#container4 div {
  width: 300px;
}
/* for small mobile */
@media screen and (max-width: 380px) {
  #container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  #header {
    flex-direction: column;
    /* for x-axis */
    justify-content: center;
    /* for y-axis */
    align-items: center;
    max-width: 330px;
  }
  #header h1 {
    font-size: 30px;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 330px;
    gap: 10px;
  }
  #navbar a {
    font-size: 20px;
  }
  #container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #paragraph1 p {
    width: 100%;
    text-align: justify;
  }
  #container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #paragraph2 p {
    width: 100%;
    text-align: justify;
  }
  #container4 div {
    width: 100%;
  }
}
/* for mid devices like tablets */
@media screen and (min-width: 380px) and (max-width: 1023px) {
  #container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  #header {
    flex-direction: column;
    /* for x-axis */
    justify-content: center;
    /* for y-axis */
    align-items: center;
    width: auto;
    max-width: 1554px;
  }
  #header h1 {
    font-size: 30px;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 1554px;
    gap: 10px;
  }
  #navbar a {
    font-size: 20px;
  }
  #container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #paragraph1 p {
    width: 100%;
    text-align: justify;
  }
  #img1 {
    width: 500px;
    height: 500px;
    display: flex;
    flex-shrink: 0;
  }
  #container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #paragraph2 p {
    width: 100%;
    text-align: justify;
  }
  #container4 div {
    width: 100%;
  }
}
/* for desktops and laptops */
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  #container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #header {
    flex-direction: row;
    /* for y-axis */
    justify-content: center;
    /* for x-axis */
    align-items: center;
    width: auto;
    max-width: 1554px;
  }
  #header h1 {
    font-size: 30px;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 1554px;
    gap: 10px;
  }
  #navbar a {
    font-size: 20px;
  }
  #container2 {
    display: flex;
    flex-direction: row;
  }
  #paragraph1 p {
    width: 100%;
    text-align: justify;
  }
  #img1 {
    width: 500px;
    height: 500px;
    display: flex;
    flex-shrink: 0;
  }
  #container3 {
    display: flex;
    flex-direction: row-reverse;
  }
  #paragraph2 p {
    width: 100%;
    text-align: justify;
  }
  #img2 {
    width: 500px;
    height: 500px;
    display: flex;
    flex-shrink: 0;
  }
  #container4 div {
    width: 50%;
    max-width: 500px;
  }
}
