body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #081338;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05061b;

  height: 95px;
}
.left {
  margin-left: 200px;
}
.left a {
  text-decoration: none;
  color: white;
  margin-left: 40px;
}
.logo {
  height: 50px;
  color: white;
}
.middle a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-size: 12px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.right .b1 {
  border-style: none;
  background-color: black;
  color: #0092ef;
  border: 1px solid #0092ef;
  padding: 3px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
.right .b2 {
  border-style: none;
  background-color: #0092ef;
  color: white;
  border: 1px solid #0092ef;
  padding: 10px;
  width: 180px;
  height: 40px;
  border-radius: 10px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: white;
}
.light,
.search {
  display: flex;
  flex-grow: 0;
  height: 30px;
  width: 30px;
  background-color: #081338;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.search {
  margin-right: 130px;
}
